In [ ]:
import pandas as pd
from datetime import datetime, timedelta

# Define the start date
start_date = datetime(2024, 3, 11)

# Create a list to hold the datetime objects
datetimes = [start_date + timedelta(minutes=30*x) for x in range(4*48)]

# Create a DataFrame
df = pd.DataFrame({
    "Date": [dt.date() for dt in datetimes],
    "Time": [dt.time() for dt in datetimes]
})


thermostat_set_temps = {
    "2024-03-11": 21,
    "2024-03-12": 20,
    "2024-03-13": 19,
    "2024-03-14": 20
}

# Update "Thermostat Set Temp" based on the date
df['Thermostat Set Temp'] = df['Date'].apply(lambda x: thermostat_set_temps[str(x)])

df['Thermostat Actual Temp'] = 18.0

for i in range(len(df)):
    if i > 0 and df.loc[i, 'Date'] == df.loc[i-1, 'Date']:
        if df.loc[i-1, 'Thermostat Actual Temp'] < df.loc[i-1, 'Thermostat Set Temp']:
            df.loc[i, 'Thermostat Actual Temp'] = df.loc[i-1, 'Thermostat Actual Temp'] + 0.5
        else:
            df.loc[i, 'Thermostat Actual Temp'] = df.loc[i-1, 'Thermostat Actual Temp'] - 0.5
    else:
        df.loc[i, 'Thermostat Actual Temp'] = 18.0  # Reset for a new day
df['Humidity'] = 60 - 2 * (df['Thermostat Actual Temp'] - 18)

In [3]:
# Define TRV Set Temp for each day
trv_set_temps = {
    "2024-03-11": 22,
    "2024-03-12": 23,
    "2024-03-13": 18,
    "2024-03-14": 19
}

# Add "TRV Set Temp" based on the date
df['TRV1 Set Temp'] = df['Date'].apply(lambda x: trv_set_temps[str(x)])

# Initialize "TRV Actual Temp" with the same starting conditions as before
df['TRV1 Actual Temp'] = 18.0

# Update "TRV Actual Temp" values using the same logic as before
for i in range(len(df)):
    if i > 0 and df.loc[i, 'Date'] == df.loc[i-1, 'Date']:
        if df.loc[i-1, 'TRV1 Actual Temp'] < df.loc[i-1, 'TRV1 Set Temp']:
            df.loc[i, 'TRV1 Actual Temp'] = df.loc[i-1, 'TRV1 Actual Temp'] + 0.5
        else:
            df.loc[i, 'TRV1 Actual Temp'] = df.loc[i-1, 'TRV1 Actual Temp'] - 0.5
    else:
        df.loc[i, 'TRV1 Actual Temp'] = 18.0  # Reset for a new day

# Add "TRV Humidity" based on "TRV Actual Temp" using the same logic as before
df['TRV1 Humidity'] = 60 - 2 * (df['TRV1 Actual Temp'] - 18)

df.head(10)  # Show the first 10 rows to illustrate the addition

,Date,Time,Thermostat Set Temp,Thermostat Actual Temp,Humidity,TRV1 Set Temp,TRV1 Actual Temp,TRV1 Humidity
0,2024-03-11,00:00:00,21,18.0,60.0,22,18.0,60.0
1,2024-03-11,00:30:00,21,18.5,59.0,22,18.5,59.0
2,2024-03-11,01:00:00,21,19.0,58.0,22,19.0,58.0
3,2024-03-11,01:30:00,21,19.5,57.0,22,19.5,57.0
4,2024-03-11,02:00:00,21,20.0,56.0,22,20.0,56.0
5,2024-03-11,02:30:00,21,20.5,55.0,22,20.5,55.0
6,2024-03-11,03:00:00,21,21.0,54.0,22,21.0,54.0
7,2024-03-11,03:30:00,21,20.5,55.0,22,21.5,53.0
8,2024-03-11,04:00:00,21,21.0,54.0,22,22.0,52.0
9,2024-03-11,04:30:00,21,20.5,55.0,22,21.5,53.0

In [4]:
# Define TRV Set Temp for each day
trv_set_temps = {
    "2024-03-11": 21,
    "2024-03-12": 22,
    "2024-03-13": 19,
    "2024-03-14": 20
}

# Add "TRV Set Temp" based on the date
df['TRV2 Set Temp'] = df['Date'].apply(lambda x: trv_set_temps[str(x)])

# Initialize "TRV Actual Temp" with the same starting conditions as before
df['TRV2 Actual Temp'] = 18.0

# Update "TRV Actual Temp" values using the same logic as before
for i in range(len(df)):
    if i > 0 and df.loc[i, 'Date'] == df.loc[i-1, 'Date']:
        if df.loc[i-1, 'TRV2 Actual Temp'] < df.loc[i-1, 'TRV2 Set Temp']:
            df.loc[i, 'TRV2 Actual Temp'] = df.loc[i-1, 'TRV2 Actual Temp'] + 0.5
        else:
            df.loc[i, 'TRV2 Actual Temp'] = df.loc[i-1, 'TRV2 Actual Temp'] - 0.5
    else:
        df.loc[i, 'TRV2 Actual Temp'] = 18.0  # Reset for a new day

# Add "TRV Humidity" based on "TRV Actual Temp" using the same logic as before
df['TRV2 Humidity'] = 60 - 2 * (df['TRV2 Actual Temp'] - 18)

df.head(10)  # Show the first 10 rows to illustrate the addition

,Date,Time,Thermostat Set Temp,Thermostat Actual Temp,Humidity,TRV1 Set Temp,TRV1 Actual Temp,TRV1 Humidity,TRV2 Set Temp,TRV2 Actual Temp,TRV2 Humidity
0,2024-03-11,00:00:00,21,18.0,60.0,22,18.0,60.0,21,18.0,60.0
1,2024-03-11,00:30:00,21,18.5,59.0,22,18.5,59.0,21,18.5,59.0
2,2024-03-11,01:00:00,21,19.0,58.0,22,19.0,58.0,21,19.0,58.0
3,2024-03-11,01:30:00,21,19.5,57.0,22,19.5,57.0,21,19.5,57.0
4,2024-03-11,02:00:00,21,20.0,56.0,22,20.0,56.0,21,20.0,56.0
5,2024-03-11,02:30:00,21,20.5,55.0,22,20.5,55.0,21,20.5,55.0
6,2024-03-11,03:00:00,21,21.0,54.0,22,21.0,54.0,21,21.0,54.0
7,2024-03-11,03:30:00,21,20.5,55.0,22,21.5,53.0,21,20.5,55.0
8,2024-03-11,04:00:00,21,21.0,54.0,22,22.0,52.0,21,21.0,54.0
9,2024-03-11,04:30:00,21,20.5,55.0,22,21.5,53.0,21,20.5,55.0

In [ ]:
df.to_csv('hvac_data.csv')